:root {
	--branding-color: #606470;
	--secondary-color: #93deff;
	--heading-font-family: "Arima", cursive;
	--default-font-family: "Poppins", sans-serif;
}
body {
	font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	font-family: var(--heading-font-family);
	font-weight: bold;
}

h1 {
	font-size: 96px;
}

p {
	font-size: 30px;
	line-height: 2;
	font-weight: normal;
}
.navbar {
	background-color: var(--branding-color);
}
.navbar-brand {
	font-size: 40px;
	color: var(--secondary-color);
}
.nav-link {
	font-size: 20px;
	color: var(--secondary-color);
}
.hero {
	background: var(--secondary-color);
	text-align: center;
	padding: 120px 0;
}

.hero p {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	color: #272142;
}

.hero h2 {
	font-family: var(--heading-font-family);
	font-weight: normal;
	line-height: 2;
	font-size: 24px;
}
.img-fluid {
	border: 25px solid var(--branding-color);
	border-radius: 4px;
}
.content-section {
	padding: 120px 20px;
}
.content-section h1 {
	font-size: 64px;
	line-height: 80px;
}
.content-section h2 {
	font-size: 18px;
	font-family: var(--default-font-family);
}
.content {
	margin: 30px;
}

.btn-branding {
	background: var(--branding-color);
	border-radius: 4px;
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}
.btn-branding-outline {
	color: var(--branding-color);
	border: 1px solid var(--branding-color);
	background-color: var(--secondary-color);
	border-radius: 4px;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}

.project-desciption {
	padding: 120px 60px;
}
.project-desciption h2 {
	font-size: 60px;
}
.coder a {
	text-decoration: none;
}
.contacts a {
	text-decoration: none;
	font-size: 30px;
	color: var(--branding-color);
}
.contacts a:hover {
	color: var(--secondary-color);
}
footer a {
	text-decoration: none;
	color: var(--branding-color);
}
footer a:hover {
	color: var(--secondary-color);
}
footer i {
	margin: 0 20px;
}
@media (max-width: 900px) {
	h1 {
		font-size: 44px;
		line-height: 2;
	}

	h2 {
		font-size: 44px;
	}

	.hero {
		padding: 80px 20px;
	}

	.project-desciption {
		padding: 0;
		text-align: center;
	}
	.content-section {
		text-align: center;
		padding: 0;
	}
}
